{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h3 class="page-header">
      Innehavare av
      {% if is_staff %}
        <a class="admin-link" href="{% url 'admin:decoration' decoration.id %}">{{ decoration.name }}</a>
      {% else %}
        {{ decoration.name }}
      {% endif %}
    </h3>
    {{ decoration.comment|linebreaks }}
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th><span class="order-by attributes">Namn</span></th>
          <th><span class="order-by attributes dates">Datum</span></th>
        </tr>
      </thead>
      <tbody>
        {% for do in decoration_ownerships %}
          <tr>
            <td order-data-1="{{ do.member.surname }}" order-data-2="{{ do.member.given_names }}"><a href="{% url 'katalogen:profile' do.member.id %}">{{ do.member.name }}</a></td>
            <td order-data-1="{{ do.acquired|date:'c' }}">{{ do.acquired }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
