{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h3 class="page-header">
      {% if is_staff %}
        <a class="admin-link" href="{% url 'admin:functionary_type' functionary_type.id %}">{{ functionary_type.name }}</a>
      {% else %}
        {{ functionary_type.name }}
      {% endif %}
    </h3>
    {{ functionary_type.comment|linebreaks }}
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>
            <span class="order-by attribute">Namn</span>
            {% if combined %}
            <a class="fas fa-expand-arrows-alt" href="?" title="Splittra kombinerade poster"></a>
            {% else %}
            <a class="fas fa-compress-arrows-alt" href="?combine=1" title="Kombinera sammanhängande mandat av poster hos samma person"></a>
            {% endif %}
          </th>
          <th><span class="order-by attribute default-order-reversed">Datum</span></th>
        </tr>
      </thead>
      <tbody>
        {% for member, duration in functionary_duration_strings %}
          <tr>
            <td order-data="{{ member.public_full_name_for_sorting }}"><a href="{% url 'katalogen:profile' member.id %}">{{ member.public_full_name }}</a></td>
            <td order-data="{{ duration.end_date|date:'c' }}{{ duration.begin_date|date:'c' }}">{{ duration }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
