{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h3 class="page-header">
      {% if is_staff %}
        <a class="admin-link" href="{% url 'admin:functionary_type' functionary_type.id %}">{{ functionary_type.name }}</a>
      {% else %}
        {{ functionary_type.name }}
      {% endif %}
    </h3>
    {{ functionary_type.comment|linebreaks }}
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th><span class="order-by attribute">Namn</span></th>
          <th><span class="order-by attribute default-order-reversed">Datum</span></th>
        </tr>
      </thead>
      <tbody>
        {% for f in functionaries %}
          <tr>
            <td order-data="{{ f.member.surname }} {{ f.member.given_names }}"><a href="{% url 'katalogen:profile' f.member.id %}">{{ f.member.public_full_name }}</a></td>
            <td order-data="{{ f.end_date|date:'c' }}{{ f.begin_date|date:'c' }}">{{ f.duration_string }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
