{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h2 class="page-header">{{ group_type.name }}</h2>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Medlemmar</th>
        </tr>
      </thead>
      <tbody>
        {% for g in groups %}
          <tr>
            <td><b>{{ g.duration_string }}</b></td>
            <td><i>{{ g.num_members }} {% if g.num_members == 1 %}medlem{% else %}medlemmar{% endif %}</i></td>
          </tr>
          {% for gm in g.memberships.all %}
            <tr>
              <td></td>
              <td><a href="{% url 'katalogen:profile' gm.member.id %}">{{ gm.member.name }}</a></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
