{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    {% if group_types %}
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th colspan="2">Gruppmedlemmar</th>
          </tr>
          <tr>
            <th>Grupp</th>
            <th class="text-center">Undergrupper</th>
            <th class="text-center">Totalt</th>
            <th class="text-center">Unika</th>
          </tr>
        </thead>
        <tbody>
          {% for gt in group_types %}
            <tr>
              <td><a href="{% url 'katalogen:groups' gt.id %}">{{ gt.name }}</a></td>
              <td class="text-center">{{ gt.num_groups }}</td>
              <td class="text-center">{{ gt.num_members_total }}</td>
              <td class="text-center">{{ gt.num_members_unique }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="text-center lead">
        Inga grupper hittades.
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
