{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    {% if group_types %}
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Grupp</th>
            <th>Undergrupper</th>
          </tr>
        </thead>
        <tbody>
          {% for gt in group_types %}
            <tr>
              <td><a href="{% url 'katalogen.views.groups' gt.id %}">{{ gt.name }}</a></td>
              <td>{{ gt.num_groups }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="text-center lead">
        Inga Grupper hittades.
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
