{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h3 class="page-header">
      Medlemmar av
      {% if is_staff %}
        <a class="admin-link" href="{% url 'admin:group_type' group_type.id %}">{{ group_type.name }}</a>
      {% else %}
        {{ group_type.name }}
      {% endif %}
    </h3>
    {{ group_type.comment|linebreaks }}
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Medlemmar</th>
        </tr>
      </thead>
      <tbody>
        {% for g in groups %}
          {% if g.num_members > 0 %}
          <tr>
            <td><b>
              {% if is_staff %}
                <a class="admin-link" href="{% url 'admin:group' group_type.id g.id %}">{{ g.duration }}</a>
              {% else %}
                {{ g.duration }}
              {% endif %}
            </b></td>
            <td><i>{{ g.num_members }} {% if g.num_members == 1 %}medlem{% else %}medlemmar{% endif %}</i></td>
          </tr>
          {% for gm in g.memberships_by_member %}
            <tr>
              <td></td>
              <td><a href="{% url 'katalogen:profile' gm.member.id %}">{{ gm.member.public_full_name }}</a></td>
            </tr>
          {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
