{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    {% if group_types %}
      <table class="table table-sm table-striped text-center">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th colspan="2">Gruppmedlemmar</th>
          </tr>
          <tr>
            <th class="text-left"><span class="order-by default-order">Grupp</span></th>
            <th><span class="order-by">Undergrupper</span></th>
            <th><span class="order-by">Totalt</span></th>
            <th><span class="order-by">Unika</span></th>
          </tr>
        </thead>
        <tbody>
          {% for gt in group_types %}
            <tr>
              <td class="text-left"><a href="{% url 'katalogen:groups' gt.id %}">{{ gt.name }}</a></td>
              <td>{{ gt.count_non_empty }}</td>
              <td>{{ gt.count_members_total }}</td>
              <td>{{ gt.count_members_unique }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="text-center lead">
        Inga grupper hittades.
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
