{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Katalogen">
    <meta name="author" content="Teknologföreningen">
    <title>Katalogen</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" integrity="sha384-iw3OoTErCYJJB9mCa8LNS2hbsQ7M3C0EpIsO/H5+EGAkPGc6rk+V8i04oW/K5xq0" crossorigin="anonymous">

    <!-- Custom CSS for this template -->
    <link rel="stylesheet" href="{% static 'css/katalogen.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="{% url 'katalogen:home' %}">Katalogen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:decorations' %}">Betygelser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:functionary_types' %}">Poster</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:group_types' %}">Grupper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:years' %}">Årsöversikter</a>
          </li>
          {% if is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api:api-root' %}">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:home' %}">Admin</a>
            </li>
          {% endif %}
            <a class="nav-link" href="{% url 'katalogen:myprofile' %}">Min Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logga ut</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      {% block content %}
      {% endblock %}

    </div><!-- /.container -->


    <!-- jQuery and Bootstrap JS files, needed for collapsible navbar -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Our own JS files -->
    <script src="{% static 'js/katalogen.js' %}"></script>

  </body>
</html>
