{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Katalogen">
    <meta name="author" content="Teknologföreningen">
    <title>Katalogen</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/katalogen.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="{% url 'katalogen:home' %}">Katalogen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:decorations' %}">Betygelser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:functionary_types' %}">Poster</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:group_types' %}">Grupper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'katalogen:years' %}">Årsöversikter</a>
          </li>
          {% if is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api:api-root' %}">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:home' %}">Admin</a>
            </li>
          {% endif %}
            <a class="nav-link" href="{% url 'katalogen:myprofile' %}">Min Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logga ut</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
          <div class="searchbar text-center">
            <form id="searchform" action="{% url 'katalogen:search' %}" method="get" accept-charset="utf-8">
              <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Sök personer" name="q" autofocus/>
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="alphabet text-center col-12">
          {% for letter in abc %}
          <a href="{% url 'katalogen:startswith' letter %}">{{letter}}</a>
          {% endfor %}
        </div>
      </div>

      {% block content %}
      {% endblock %}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  </body>
</html>
