{% extends "home.html" %}

{% block content %}

<div class="container-fluid">
  <h1 class="page-header">
    {% if is_staff %}
      <a class="admin-link" href="{% url 'admin:member' person.id %}">{{ person.full_name }}</a>
    {% else %}
      {{ person.full_name }}
    {% endif %}
  </h1>
  <div class="row">
    <div class="col-12 col-lg-7">
      <table class="table table-striped table-borderless">
        <tbody>
          <tr>
            <th>Tilltalsnamn</th>
            <td align="right">{{person.preferred_name}}</td>
          </tr>
          <tr>
            <th>Telefonnummer</th>
            <td align="right">
            {% if person.mobile_phone %}
              {{person.mobile_phone}}
            {% else %}
              {{person.phone}}
            {% endif %}
            </td>
          </tr>
          <tr>
            <th>E-postadress</th>
            <td align="right">{{person.email}}</td>
          </tr>
          <tr>
            <th>Hemadress</th>
            <td align="right">
              {{person.street_address}}<br/>
              {{person.postal_code}} {{person.city}}<br/>
              {{person.country.name}}
            </td>
          </tr>
          <tr>
            <th>Studieprogram</th>
            <td align="right">{{person.degree_programme}}</td>
          </tr>
          <tr>
            <th>Phuxår</th>
            <td align="right">
            {% if phux_year %}
              {{phux_year}}
            {% endif %}
            </td>
          </tr>
          <tr>
            <th>Färdigbliven</th>
            <td align="right">
            {% if person.graduated %}
              {% if person.graduated_year %}
                  {{person.graduated_year}}
              {% else %}
                  Ja
              {% endif %}
            {% else %}
              Nej
            {% endif %}
            </td>
          </tr>
          <tr>
            <th>Medlemskapstyp</th>
            <td align="right">
            {% if person.current_member_type %}
              {{ person.current_member_type }}
            {% else %}
              Ej medlem
            {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-5">
      {% if decoration_ownerships %}
      <h3>Hedersbetygelser</h3>
      <table class="table table-striped table-borderless table-sm">
        {% for do in decoration_ownerships %}
          <tr>
            <th><a href="{% url 'katalogen:decoration_ownerships' do.decoration.id %}">{{ do.decoration.name }}</a></th>
            <td align="right">{{ do.acquired }}</td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}

      <h3>Poster</h3>
      <table class="table table-striped table-borderless table-sm">
        {% for ft, duration in functionary_duration_strings.items %}
          <tr>
            <th><a href="{% url 'katalogen:functionaries' ft.id %}">{{ ft.name }}</a></td>
            <td align="right">{{ duration }}</td>
          </tr>
        {% empty %}
          <tr>
            <th>Inga poster.</th>
            <td></td>
          </tr>
        {% endfor %}
      </table>

      <h3>Grupper</h3>
      <table class="table table-striped table-borderless table-sm">
        {% for gt, duration in group_type_duration_strings.items %}
          <tr>
            <th><a href="{% url 'katalogen:groups' gt.id %}">{{ gt.name }}</a></th>
            <td align="right">{{ duration }}</td>
          </tr>
        {% empty %}
          <tr>
            <th>Inga grupper. </th>
            <td></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
