{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

    <!-- Overview -->
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Årsöversikt för år {{ year }}</th>
          <th>Antal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Utdelade betygelser</td>
          <td>{{ decoration_ownerships|length }}</td>
        </tr>
        <tr>
          <td>Postinnehavare</td>
          <td>{{ functionaries|length }} ({{ functionaries_unique_count }})</td>
        </tr>
        <tr>
          <td>Grupper</td>
          <td>{{ groups|length }}</td>
        </tr>
        <tr>
          <td>Gruppmedlemmar</td>
          <td>{{ group_memberships_total }} ({{ group_memberships_unique }})</td>
        </tr>
        <tr>
          <td>Nya ordinarie medlemmar</td>
          <td>{{ member_types_ordinary|length }}</td>
        </tr>
        <tr>
          <td>Nya ständiga äldre medlemmar</td>
          <td>{{ member_types_stalm|length }}</td>
        </tr>
      </tbody>

      <!-- Decorations -->
      <thead>
        <tr>
          <th><span class="order-by">Betygelser år {{ year }}</span></th>
          <th><span class="order-by attributes">Namn</span></th>
        </tr>
      </thead>
      <tbody>
        {% for do in decoration_ownerships %}
          <tr>
            <td><a href="{% url 'katalogen:decoration' do.decoration.id %}">{{ do.decoration.name }}</a></td>
            <td order-data-1="{{ do.member.surname }}" order-data-2="{{ do.member.given_names }}"><a href="{% url 'katalogen:profile' do.member.id %}">{{ do.member.full_preferred_name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>

      <!-- Functionaries -->
      <thead>
        <tr>
          <th><span class="order-by">Poster år {{ year }}</span></th>
          <th><span class="order-by attributes">Namn</span></th>
        </tr>
      </thead>
      <tbody>
        {% for f in functionaries %}
          <tr>
            <td><a href="{% url 'katalogen:functionary_type' f.functionarytype.id %}">{{ f.functionarytype.name }}{% if f.duration_string != year %} ({{ f.duration_string }}){% endif %}</a></td>
            <td order-data-1="{{ f.member.surname }}" order-data-2="{{ f.member.given_names }}"><a href="{% url 'katalogen:profile' f.member.id %}">{{ f.member.full_preferred_name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>

      <!-- Groups -->
      <thead>
        <tr>
          <th>Grupper år {{ year }}</th>
          <th>Namn</th>
        </tr>
      </thead>
      <tbody>
        {% for g in groups %}
          <tr>
            <td><a href="{% url 'katalogen:group_type' g.grouptype.id %}">{{ g.grouptype.name }}{% if g.duration_string != year %} ({{ g.duration_string }}){% endif %}</a></td>
            <td><i>{{ g.num_members }} {% if g.num_members == 1 %}medlem{% else %}medlemmar{% endif %}</i></td>
          </tr>
          {% for gm in g.memberships_by_member %}
            <tr>
              <td></td>
              <td><a href="{% url 'katalogen:profile' gm.member.id %}">{{ gm.member.full_preferred_name }}</a></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

      <!-- Ordinary members -->
      <thead>
        <tr>
          <th><span class="order-by attributes">Nya ordinarie medlemmar år {{ year }}</span></th>
          <th><span class="order-by attributes dates">Datum</span></th>
        </tr>
      </thead>
      <tbody>
        {% for mt in member_types_ordinary %}
          <tr>
            <td order-data-1="{{ mt.member.surname }}" order-data-2="{{ mt.member.given_names }}"><a href="{% url 'katalogen:profile' mt.member.id %}">{{ mt.member.full_preferred_name }}</a></td>
            <td order-data-1="{{ mt.begin_date|date:'c' }}">{{ mt.begin_date }}</td>
          </tr>
        {% endfor %}
      </tbody>

      <!-- StÄlMs -->
      <thead>
        <tr>
          <th><span class="order-by attributes">Nya ständiga äldre medlemmar år {{ year }}</span></th>
          <th><span class="order-by attributes dates">Datum</span></th>
        </tr>
      </thead>
      <tbody>
        {% for mt in member_types_stalm %}
          <tr>
            <td order-data-1="{{ mt.member.surname }}" order-data-2="{{ mt.member.given_names }}"><a href="{% url 'katalogen:profile' mt.member.id %}">{{ mt.member.full_preferred_name }}</a></td>
            <td order-data-1="{{ mt.begin_date|date:'c' }}">{{ mt.begin_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
