{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="add-do-form" autocomplete="off">
  {% csrf_token %}
  {{ form.media }}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.member.id_for_label }}">Medlem</label>
    </div>
    <div class="col-6">
      {{ form.member }}
    </div>
    <div class="col-3">
      <button id="doform-create-member" class="btn btn-warning float-right">Skapa ny</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.acquired.id_for_label }}">Utdelat</label>
    </div>
    <div class="col-9">
      {{ form.acquired }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
  {{ form.decoration.as_hidden }}
</form>
{% endblock %}
