{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="addfunctionaryform" autocomplete="off">
  {% csrf_token %}
  {{ addfunctionaryform.media }}
  <div class="row form-group">
    <div class="col-3">
      <label for={{addfunctoinaryform.member.id_for_label}}>Medlem</label>
    </div>
    <div class="col-9">
      {{ addfunctionaryform.member }}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for={{addfunctoinaryform.begin_date.id_for_label}}>Från</label>
    </div>
    <div class="col-9">
      {{ addfunctionaryform.begin_date }}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for={{addfunctoinaryform.end_date.id_for_label}}>Till</label>
    </div>
    <div class="col-9">
      {{ addfunctionaryform.end_date }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
  {{ addfunctionaryform.functionarytype.as_hidden}}
</form>
{% endblock %}
