{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="edit-ft-form" autocomplete="off" data-id="{{ functionary_type.id }}" class="form-inline">
  {% csrf_token %}
  <div class="row form-group w-100">
    <div class="col-3"><label for="{{ form.name.id_for_label }}">Namn</label></div>
    <div class="col-9">{{ form.name }}</div>
  </div>
  <div class="row form-group w-100">
    <div class="col-3"><label for="{{ form.comment.id_for_label }}">Kommentar</label></div>
    <div class="col-9">{{ form.comment }}</div>
  </div>
  <div class="row">
    <div class="col"><button type="submit" class="btn btn-success float-right">Spara</button></div>
  </div>
</form>
{% endblock %}
