{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="add-f-form" autocomplete="off">
  {% csrf_token %}
  {{ form.media }}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.member.id_for_label }}">Medlem</label>
    </div>
    <div class="col-6">
      {{ form.member }}
    </div>
    <div class="col-3">
      <button disabled id="fform-create-member" class="btn btn-warning float-right">Skapa ny</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.begin_date.id_for_label }}">Från</label>
    </div>
    <div class="col-9">
      {{ form.begin_date }}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.end_date.id_for_label }}">Till</label>
    </div>
    <div class="col-9">
      {{ form.end_date }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button disabled id="fform-submit-functionaries" type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
  {{ form.functionarytype.as_hidden}}
</form>
{% endblock %}
