{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="add-gm-form" action="" method="post">
  {% csrf_token %}
  {{ form.media }}

  {% if form.member.initial %}
  {{ form.member.as_hidden }}
  {% else %}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.member.id_for_label }}">Namn</label>
    </div>
    <div class="col-6">
      {{ form.member }}
    </div>
    <div class="col-3">
      <button disabled id="gmform-create-member" class="btn btn-warning float-right">Skapa ny</button>
    </div>
  </div>
  {% endif %}

  {% if form.group.initial %}
  {{ form.group.as_hidden }}
  {% else %}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.group.id_for_label }}">Grupp</label>
    </div>
    <div class="col-9">
      {{ form.group }}
    </div>
  </div>
  {% endif %}

  <div class="row form-group">
    <div class="col">
      <button id="gmform-submit-memberships" type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
</form>
{% endblock %}
