{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="add-do-form" autocomplete="off">
  {% csrf_token %}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.decoration.id_for_label }}">Betygelse</label>
    </div>
    <div class="col-9">
      {{ form.decoration }}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.acquired.id_for_label }}">Datum</label>
    </div>
    <div class="col-9">
      {{ form.acquired }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
  {{ form.member.as_hidden }}
</form>
{% endblock %}
