{% extends "modals/modal.html" %}

{% block modalcontent %}
  <form id="choose-multiple-applicants">
    {% csrf_token %}
    {{ modalForm.media }}

    <div class="row form-group w-100">
      <div class="col-4">
        <label for="{{ modalForm.membership_date.id_for_label }}">
          Datum för medlemskap
          <a class="a-tooltip" href="javascript:;" data-toggle="tooltip" data-placement="top" title="Startdatum för OrdinarieMedlemstyp (obligatorisk).">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
        </label>
      </div>

      <div class="col-8">{{ modalForm.membership_date }}</div>
    </div>

    <div class="row form-group w-100">
      <div class="col-4">
        <label for="{{ modalForm.phux_date.id_for_label }}">
          Datum för phuxskap
          <a class="a-tooltip" href="javascript:;" data-toggle="tooltip" data-placement="top" title="Startdatum för Phux medlemstyp (valfritt).">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
        </label>
      </div>

      <div class="col-8">{{ modalForm.phux_date }}</div>
    </div>

    <div class="row form-group w-100">
      <div class="col-3">
        <label for="{{ modalForm.applicant.id_for_label }}">Namn</label>
      </div>

      <div class="col-6">{{ modalForm.applicant }}</div>

      <div class="col-3">
        <button type="submit" class="btn btn-success float-right">Spara</button>
      </div>
    </div>

    {{ modalForm.as_hidden }}
  </form>
{% endblock %}
