{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="new-mgtftd-form" autocomplete="off" data-active="{{ active }}">
  {% csrf_token %}
  {% if active == "members" %}
    <div class="row form-group">
      <div class="col-3">
        <label for="{{ form.given_names.id_for_label}}">Förnamn</label>
      </div>
      <div class="col-9">
        {{ form.given_names }}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="{{ form.surname.id_for_label}}">Efternamn</label>
      </div>
      <div class="col-9">
        {{ form.surname }}
      </div>
    </div>
  {% else %}
    <div class="row form-group">
      <div class="col-3">
        <label for="{{ form.name.id_for_label}}">Namn</label>
      </div>
      <div class="col-9">
        {{ form.name }}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
</form>
{% endblock %}
