<div id="footer">
  <div class="row justify-content-center mt-4">
    <h4 id="description">
      <a href="https://about.teknologforeningen.fi/index.php/564-registerbeskrivning-foer-teknologfoereningens-medlemsregister">
        Registerbeskrivning för Teknologföreningens Medlemsregister
      </a>
    </h4>
  </div>

  <div class="row justify-content-center mt-4 mb-5">
    <h4>
      <a
        id="more-info"
        href="#collapse-info"
        data-toggle="collapse"
        toggle-icon="⮞"
      >
        TEMPORARY
      </a>
    </h4>
    <div id="collapse-info" class="collapse">
      TESTING
    </div>
  </div>
</div>
