{% load static %}

<div id="header" class="row justify-content-center align-items-center mb-4 mt-4">
  <div class="col-md-2 w-75">
    <a href="https://tf.fi">
      <!--img class="img-fluid" src="../static/assets/tfs_icke_formell_logo.svg" alt="Teknologföreningens logo"-->
      <img class="img-fluid" src="{% static "assets/tfs_icke_formell_logo.svg" %}" alt="Teknologföreningens logo">
    </a>
    </div>
    <div class="col-md-10 align-self-center">
      <h1 class="">
        Ansökan om medlemskap
        <p class="lead font-italic">i <a href="https://tf.fi">Teknologföreningen</a></p>
    </h1>
  </div>
</div>
