<div id="info">
  <div class="row justify-content-center mt-4 mb-5">
    <h4 id="extra-information">
      <a
        id="more-info"
        href="#collapse-info"
        data-toggle="collapse"
        toggle-icon="⮞"
      >
        Vad händer efter ansökan?
      </a>
    </h4>
    <div id="collapse-info" class="collapse mt-3">
      <p>
        Efter medlemsansökan så behöver du inte göra något annat än att vänta på en inbjudan Nationsmöte (Namö)!
      </p>
      <p>
        För att bli en nationsmedlem krävs att du deltar i ett Namö och blir invald, en inbjudan til Namö skickas per e-post.
        När du har blivit invald så sätts du automatiskt med på e-post listor.
      </p>
      <p>
        Dessutom som medlem har ni rättigheter till IT-lov (var rättigheter till våra sidor, olika tjänster, och prenumeration på info- och veckomail ingår), vilka kan ansökas online via <a href="https://medlem.tf.fi">TFs medlems sidor.</a>
      </p>
      <p>
        Som medlem har du också rättighet till nyckel till Urdsgjallars medlemsutrymmen, TFs egna hus!
        Nyckeln kan fås gentemot pant under kopieringskaffe som ordnas alltid efter Namö.
      </p>
      <p>
        Ifall du har flera kring ansökan eller andra lov så kan ni kontakta Phuxivatorn (phuxivator[at]tf.fi) eller Infochefen (infochef[at]tf.fi) respektivt.
      </p>
    </div>
  </div>
</div>
