<div id="info">
  <div class="row justify-content-center mt-4 mb-5">
    <h4 id="extra-information">
      <a
        id="more-info"
        href="#collapse-info"
        data-toggle="collapse-info"
        toggle-icon="⮞"
      >
        Vad händer efter ansökan?
      </a>
    </h4>
    <div id="collapse-info" class="collapse mt-3">
      <p>
        Efter medlemsansökan behöver du inte göra något annat än att vänta på en
        inbjudan till nästa nationsmöte (Namö)!
      </p>
      <p>
        För att bli en ordinarie medlem av nationen krävs att du deltar i ett
        Namö och blir invald. En inbjudan till Namö skickas åt alla aspirerande
        medlemmar per e-post. När du har blivit invald sätts du automatiskt med
        på TF:s e-postlista, genom vilket du i framtiden får viktig information
        gällande TF.
      </p>
      <p>
        Som medlem har du också rättighet till nyckel till Urdsgjallars
        medlemsutrymmen, TF:s egna hus! Nyckeln kan köpas av disponenten
        (disponent[at]tf.fi) under kopieringskaffe som ordnas efter varje Namö.
      </p>
      <p>
        Ifall du har flera frågor kring ansökan eller andra lov så kan du
        kontakta Phuxivatorn (phuxivator[at]tf.fi) eller Infochefen
        (infochef[at]tf.fi).
      </p>
    </div>
  </div>
</div>
