{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "tficon.ico" %}">

    <title>TF: Ansökan om medlemskap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "css/registration.css" %}" rel="stylesheet" type="text/css">
    {% if DEBUG %}
      <link href="{% static "css/debug.css" %}" rel="stylesheet" type="text/css">
    {% endif %}

  </head>

  <body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="{% static "assets/js/jquery-3.3.1.min.js" %}" type="application/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    {% endblock %}
  </body>
</html>
