{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Medlemsregister">
  <meta name="author" content="Teknologföreningen">
  <title>TF Medlemsregister</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui-1.13.2.min.css' %}">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Custom CSS for this template -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Load jQuery and jQuery UI, which are needed for ajax_select. Would be nice to be able to load them in the end like the rest of the JS files but ajax_select is automatically loaded before that, and if these modules have not been loaded by then ajax_select tries to fetch them from external sources instead. -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-ui-1.13.2.min.js' %}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'admin:home' %}">teknologr.io</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'katalogen:home' %}">Katalogen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/">API</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dumpar<span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'api:dump_full' %}">Full dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_modulen' %}">Modulen dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_studentbladet' %}" data-toggle="tooltip" title="Lista av alla medlemmar som prenumererar på Studentbladet">Studentbladet dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_active' %}" data-toggle="tooltip" title="Lista av medlemmar som är funkkisar eller i kommittéer med aktiva mandat">Aktiva dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_htk' %}?format=json">Full HTK dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_arsk' %}" data-toggle="tooltip" title="Lista av hedersmedlemmar, alla råd, alla styrelsen 5 år tillbaka, och styrelsen 10 år, och även alla funktionärer. Används för Årsfestlistor.">Arsk dump</a>
            <a class="dropdown-item" href="{% url 'api:dump_reg_emails' %}" data-toggle="tooltip" title="Lista av alla nuvarande ansökningars emails.">Ansökandes email dump</a>
          </div>
        </li>
        {% if info_url %}
        <li class="nav-item">
          <a class="nav-link" href="{{ info_url }}" target="_blank">Info</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logga ut</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-3 sidebar">
        {% block side %}
          {% include "side.html" %}
        {% endblock %}
      </div>

      <!-- Modal box must be outside of sidebar because of sidebar position:fixed style -->
      {% if side.new_button %}
        {% include "modals/new.html" with modalname="new-mgtftd-modal" title="Lägg till "|add:side.sname form=side.form active=side.active only %}
      {% endif %}
      {% if side.applicant_tool_icons %}
        {% include "modals/applicant_choosemultiple.html" with modalname="add-multiple-applicants-modal" title="Acceptera flera ansökningar" form=side.multiple_applicants_form only %}
      {% endif %}

      <div id='main' class="col-md-8 offset-md-4 col-lg-9 offset-lg-3 main">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% block scripts %}
    <!-- Always include block.super in this block in templates to avoid removing previous scripts-->

    <!-- JavaScript files, placed at the end of the document so the pages load faster -->
    <!-- For modals and tooltips -->
    <script src="{% static 'assets/js/popper-1.14.7.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/ajax_api.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}
</body>
</html>
