{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static "favicon.ico" %}">

  <title>TF Medlemsregistrer</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">teknologr.io</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'katalogen.views.home' %}">Katalogen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/">API</a>
        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dumpar<span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'api.views.fullDump' %}">Full dump</a>
            <a class="dropdown-item" href="{% url 'api.views.modulenDump' %}">Modulen dump</a>
            <a class="dropdown-item" href="{% url 'api.views.activeDump' %}" data-toggle="tooltip" title="Lista av medlemmar som är funkkisar eller i kommittéer med aktiva mandat">Aktiva dump</a>
            <a class="dropdown-item" href="{% url 'api.views.htkDump' %}?format=json">Full HTK dump</a>
            <a class="dropdown-item" href="{% url 'api.views.arskDump' %}" data-toggle="tooltip" title="Lista av hedersmedlemmar, alla råd, alla styrelsen 5 år tillbaka, och styrelsen 10 år, och även alla funktionärer. Används för Årsfestlistor.">Arsk dump</a>
            <a class="dropdown-item" href="{% url 'api.views.regEmailDump' %}" data-toggle="tooltip" title="Lista av alla nuvarande ansökningars emails.">Ansökandes email dump</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wiki.teknologforeningen.fi/itwiki/index.php/Medlemsregister" target="_blank">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logga ut</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-3 sidebar">
        {% block side %}
          {% include "side.html" %}
        {% endblock %}
      </div>
      <!-- Modal box must be outside of sidebar because of sidebar position:fixed style -->
      {% include "modals/new.html" with modalname="newModal" title="Lägg till "|add:side.sname modalForm=side.modalForm active=side.active only %}
      <div id='main' class="col-md-8 offset-md-4 col-lg-9 offset-lg-3 main">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% block scripts %}
    <!-- Always include block.super in this block in templates to avoid removing previous scripts-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/ajax_api.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <!-- For tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  {% endblock %}
</body>
</html>
