{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid page-header">
  <h1 class="list-inline-item"><a class="katalogen-link" href="{% url 'katalogen:decoration_ownerships' decoration.id %}">{{ decoration.name }}</a></h1>
  <i class="list-inline-item far fa-edit text-info align-self-center icon-20" role="button" title="Editera betygelse" data-toggle="modal" data-target="#edit-d-modal"></i>
  <i id="delete-d-button" class="list-inline-item fas fa-times text-danger icon-20" role="button" title="Radera betygelse" data-id="{{ decoration.id }}"></i>
  {% include "modals/decoration.html" with modalname="edit-d-modal" title="Editera betygelse" form=edit_d_form decoration=decoration only %}
</div>


<div class="container-fluid">
  <h4>Kommentar</h4>
  {% if decoration.comment %}
    {{ decoration.comment|linebreaks }}
  {% else %}
    <p><i>Ingen kommentar hittades</i></p>
  {% endif %}

  <h4 class="list-inline-item">Innehavare av betygelsen</h4>
  <i class="list-inline-item fas fa-plus text-success icon-20" role="button" title="Lägg till betygelseinnehav" data-toggle="modal" data-target="#add-d-modal"></i>
  {% include "modals/decorationownership_add.html" with modalname="add-d-modal" title="Lägg till betygelseinnehav ("|add:decoration.name|add:")" form=add_do_form only %}

  <table class="table table-sm table-striped table-borderless">
    <thead class="no-border">
      <tr>
        <th></th>
        <th>Medlem</th>
        <th>Utdelat</th>
      </tr>
    </thead>
    <tbody>
      {% for ownership in decorations %}
        <tr>
          <td><i class="fas fa-times delete-do-button text-danger" role="button" title="Radera betygelseinnehav" data-id="{{ ownership.id }}" data-decoration_id="{{ decoration.id }}"></i></td>
          <td><a href="{% url 'admin:member' ownership.member.id %}">{{ ownership.member.full_name }}</a></td>
          <td>{{ ownership.acquired }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/decoration.js' %}"></script>
{% endblock %}
