{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid page-header">
  <h1 class="list-inline-item"><a class="katalogen-link" href="{% url 'katalogen:functionary_type' functionary_type.id %}">{{ functionary_type.name }}</a></h1>
  <i class="list-inline-item far fa-edit text-info align-self-center icon-20" role="button" title="Editera post" data-toggle="modal" data-target="#edit-ft-modal"></i>
  <i id="delete-ft-button" class="list-inline-item fas fa-times text-danger icon-20" role="button" title="Radera post" data-id="{{ functionary_type.id }}"></i>
  {% include "modals/functionarytype_edit.html" with modalname="edit-ft-modal" title="Editera post" form=edit_ft_form functionary_type=functionary_type only %}
</div>

<div class="container-fluid">
  <h4>Kommentar</h4>
  {% if functionary_type.comment %}
    {{ functionary_type.comment|linebreaks }}
  {% else %}
    <p><i>Ingen kommentar hittades</i></p>
  {% endif %}

  <h4 class="list-inline-item">Innehavare av posten</h4>
  <i class="list-inline-item fas fa-plus text-success icon-20" role="button" title="Lägg till postinnehav" data-toggle="modal" data-target="#add-f-modal"></i>
  {% include "modals/functionary_add.html" with modalname="add-f-modal" title="Lägg till postinnehav ("|add:functionary_type.name|add:")" form=add_f_form only %}

  <table class="table table-sm table-striped table-borderless">
    <thead class="no-border">
      <tr>
        <th></th>
        <th>Medlem</th>
        <th>Från</th>
        <th>Till</th>
      </tr>
    </thead>
    <tbody>
    {% for functionary in functionaries %}
      <tr>
        <td><i class="fas fa-times delete-f-button text-danger" role="button" title="Radera postinnehav" data-id="{{ functionary.id }}" data-functionarytype_id="{{ functionaryType.id }}"></i></td>
        <td><a href="{% url 'admin:member' functionary.member.id %}">{{ functionary.member.full_name }}</a></td>
        <td>{{ functionary.begin_date }}</td>
        <td>{{ functionary.end_date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/functionary.js' %}"></script>
{% endblock %}
