{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid page-header">
  <h1 class="list-inline-item"><a class="katalogen-link" href="{% url 'katalogen:groups' grouptype.id %}">{{ grouptype.name }}</a></h1>
  <i class="list-inline-item far fa-edit text-info align-self-center icon-20" role="button" title="Editera grupp" data-toggle="modal" data-target="#edit-gt-modal"></i>
  <i id="delete-gt-button" class="list-inline-item fas fa-times text-danger icon-20" role="button" title="Radera grupp" data-id="{{ grouptype.id }}"></i>
  {% include "modals/grouptype.html" with modalname="edit-gt-modal" title="Editera undergrupp" form=edit_gt_form grouptype=grouptype only %}
</div>

<div class="container-fluid">
  <h4>Kommentar</h4>
  {% if grouptype.comment %}
    {{ grouptype.comment|linebreaks }}
  {% else %}
    <p><i>Ingen kommentar hittades</i></p>
  {% endif %}

  <div class="row">
    <div class="col-lg-8">
      <h4 class="list-inline-item">Undergrupper</h4>
      <i class="list-inline-item fas fa-plus text-success icon-20" role="button" title="Skapa ny undergrupp" data-toggle="modal" data-target="#add-g-modal"></i>
      {% include "modals/addgroup.html" with modalname="add-g-modal" title="Skapa ny undergrupp för "|add:grouptype.name form=add_g_form grouptype=grouptype only %}

      <table class="table table-sm table-striped table-borderless">
        <thead class="no-border">
          <tr>
            <th></th>
            <th class="text-center">Från</th>
            <th class="text-center">Till</th>
            <th class="text-center">Medlemmar</th>
          </tr>
        </thead>
        <tbody>
        {% for g in groups %}
          <tr {% if group.id == g.id %} class="active" {% endif %}>
            <td>
              <a href="{% url 'admin:group' grouptype.id g.id %}"><i class="far fa-edit text-info" title="Hantera undergrupp"></i></a>
              <i class="fas fa-times delete-g-button text-danger" role="button" title="Radera undergrupp" data-id="{{ g.id }}" data-grouptype_id="{{ grouptype.id }}"></i>
            </td>
            <td class="text-center">{{ g.begin_date }}</td>
            <td class="text-center">{{ g.end_date }}</td>
            <td class="text-center">{{ g.num_members }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Right block, view single group -->
    <div class="col-lg-4">
      {% if group %}
        <table class="table table-sm table-striped table-borderless">
          <thead class="no-border">
            <tr>
              <th>
                <h4>
                  {{ group.begin_date }}<br>- {{ group.end_date }}<br>
                  <span>
                    <i class="far fa-edit text-info icon-20" role="button" title="Editera undergrupp" data-toggle="modal" data-target="#edit-g-modal"></i>
                    <i class="fas fa-plus text-success icon-20 align-middle" role="button" title="Lägg till gruppmedlemskap" data-toggle="modal" data-target="#add-gm-modal"></i>
                    <i id="copy2clipboard" class="far fa-copy icon-20" role="button" title="Kopiera gruppmedlemmarnas epostadresser"></i>
                  </span>
                </h4>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for membership in groupmembers %}
              <tr>
                <td>
                  <i class="col-2 fas fa-times delete-gm-button text-danger" role="button" title="Radera gruppmedlemskap" data-id="{{ membership.id }}"></i>
                  <a class="col-10" href="{% url 'admin:member' membership.member.id %}">{{ membership.member.full_name }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <textarea id="members_email_list" style="opacity: 0;width: 0; height:0;">{{ emails }}</textarea>
        {% include "modals/group.html" with modalname="edit-g-modal" title="Editera undergrupp" form=edit_g_form groupid=group.id only %}
        {% include "modals/groupmembership.html" with modalname="add-gm-modal" title="Lägg till gruppmedlemskap" form=add_gm_form only %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/group.js' %}"></script>
{% endblock %}
