{% extends "base.html" %}
{% load static %}

{% block main %}
  <div class="container-fluid">
    <h1 class="page-header">
      {{member.full_name}}
      <a href="{% url 'api:member-detail' member.id %}" class="btn btn-outline-dark float-right">API länk</a>
      <a href="{% url 'api:htkDump' member.id %}" class="btn btn-outline-dark float-right">HTK dump</a>
    </h1>

    {% if result %}
    <div class="row">
      {% if result == 'success' %}
      <div class="col-md-12 alert alert-success" role="alert"> <strong>Ändringarna sparade</strong> </div>
      {% else %}
      <div class="col-md-12 alert alert-danger" role="alert"> <strong>Ett fel uppstod, kontrollera fälten</strong> </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="row form-group">

      <!-- Form -->

      <div class="col-lg-8">
        <form id="memberform" autocomplete="off" role ="form" action="{% url 'admin:member' member.id %}" method="post">
          {% csrf_token %}
          <div class="row form-group">
            <div class="col-md-5">
              <label for="{{form.given_names.id_for_label}}">Förnamn</label>
              {%if form.given_names.errors %}<div class="alert alert-danger">{{form.given_names.errors}}</div>{%endif%}
              {{form.given_names}}
            </div>
            <div class="col-md-3">
              <label for="{{form.preferred_name.id_for_label}}">Tilltalsnamn</label>
              {%if form.preferred_name.errors %}<div class="alert alert-danger">{{form.preferred_name.errors}}</div>{%endif%}
              {{form.preferred_name}}
            </div>
            <div class="col-md-4">
              <label for="{{form.surname.id_for_label}}">Efternamn</label>
              {%if form.surname.errors %}<div class="alert alert-danger">{{form.surname.errors}}</div>{%endif%}
              {{form.surname}}
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-5">
              <label for="{{form.street_address.id_for_label}}">Gatuadress</label>
              {%if form.street_address.errors %}<div class="alert alert-danger">{{form.street_address.errors}}</div>{%endif%}
              {{form.street_address}}
            </div>
            <div class="col-md-2">
              <label for="{{form.postal_code.id_for_label}}">Postnummer</label>
              {%if form.postal_code.errors %}<div class="alert alert-danger">{{form.postal_code.errors}}</div>{%endif%}
              {{form.postal_code}}
            </div>
            <div class="col-md-2">
              <label for="{{form.city.id_for_label}}">Postanstalt</label>
              {%if form.city.errors %}<div class="alert alert-danger">{{form.city.errors}}</div>{%endif%}
              {{form.city}}
            </div>
            <div class="col-md-3">
              <label for="{{form.country.id_for_label}}">Land</label>
              {%if form.country.errors %}<div class="alert alert-danger">{{form.country.errors}}</div>{%endif%}
              {{form.country}}
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-3">
              <label for="{{form.mobile_phone.id_for_label}}">Telefonnummer</label>
              {%if form.phone.errors %}<div class="alert alert-danger">{{form.phone.errors}}</div>{%endif%}
              {{form.phone}}
            </div>
            <div class="col-md-5">
              <label for="{{form.email.id_for_label}}">E-postadress</label>
              {%if form.email.errors %}<div class="alert alert-danger">{{form.email.errors}}</div>{%endif%}
              {{form.email}}
            </div>
            <div class="col-md-4">
              <label for="{{form.birth_date.id_for_label}}">Födelsedatum</label>
              {%if form.birth_date.errors %}<div class="alert alert-danger">{{form.birth_date.errors}}</div>{%endif%}
              {{form.birth_date}}
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-3">
              <label for="{{form.student_id.id_for_label}}">Studienummer</label>
              {%if form.student_id.errors %}<div class="alert alert-danger">{{form.student_id.errors}}</div>{%endif%}
              {{form.student_id}}
            </div>
            <div class="col-md-3">
              <label for="{{form.enrolment_year.id_for_label}}">Inskrivningsår vid Aalto</label>
              {%if form.enrolment_year.errors %}<div class="alert alert-danger">{{form.enrolment_year.errors}}</div>{%endif%}
              {{form.enrolment_year}}
            </div>
            <div class="col-md-6">
              <label for="{{form.degree_programme.id_for_label}}">Studieinriktning</label>
              <a href="https://wiki.teknologforeningen.fi/itwiki/index.php/Medlemsregister#Studieprogramslistan" target="_blank" class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" data-original-title="Välj alltid om möjligt ett alternativ från listan. Om listan behöver ändras, klicka på denna ikon för att se instruktioner till det."></a>
              {%if form.degree_programme.errors %}<div class="alert alert-danger">{{form.degree_programme.errors}}</div>{%endif%}
              <select id="{{form.degree_programme.auto_id}}" autocomplete="off" class="form-control es-input" name="{{form.degree_programme.html_name}}">
                {% for option in programmes %}
                <option{% if option == form.degree_programme.value %} selected {% endif %}>{{option}}</option>
                {% endfor %}
                {% if form.degree_programme.value not in programmes %}
                <option selected>{{form.degree_programme.value}}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-2 form-check">
              <label class="form-check-label" for="{{form.graduated.id_for_label}}">
                {%if form.graduated.errors %}<div class="alert alert-danger">{{form.graduated.errors}}</div>{%endif%}
                {{form.graduated}} Utexaminerad
              </label>
            </div>
            <div class="col-md-2">
              <label for="{{form.graduated_year.id_for_label}}">År Utexaminerad</label>
              {%if form.graduated_year.errors %}<div class="alert alert-danger">{{form.graduated_year.errors}}</div>{%endif%}
              {{form.graduated_year}}
            </div>
            <div class="col-md-2 form-check">
              <label class="form-check-label" for="{{form.subscribed_to_modulen.id_for_label}}">
                {%if form.subscribed_to_modulen.errors %}<div class="alert alert-danger">{{form.subscribed_to_modulen.errors}}</div>{%endif%}
                {{form.subscribed_to_modulen}} Vill ha modulen hemskickad
              </label>
            </div>
            <div class="col-md-2 form-check">
              <label class="form-check-label" for="{{form.allow_publish_info.id_for_label}}">
                {%if form.allow_publish_info.errors %}<div class="alert alert-danger">{{form.allow_publish_info.errors}}</div>{%endif%}
                {{form.allow_publish_info}} Tillåter utlämning av uppgifter
              </label>
            </div>
            <div class="col-md-2 form-check">
              <label class="form-check-label" for="{{form.allow_studentbladet.id_for_label}}">
                {%if form.allow_studentbladet.errors %}<div class="alert alert-danger">{{form.allow_studentbladet.errors}}</div>{%endif%}
                {{form.allow_studentbladet}} Vill ha Studentbladet hemskickad
              </label>
            </div>
            <div class="col-md-2 form-check">
              <label class="form-check-label" for="{{form.dead.id_for_label}}">
                {%if form.dead.errors %}<div class="alert alert-danger">{{form.dead.errors}}</div>{%endif%}
                {{form.dead}} Avliden
              </label>
            </div>
          </div>
          <div class="row">
            <div class ="col-md-12">
              <label for="{{ form.comment.id_for_label }}">Kommentar</label>
              {% if form.comment.errors %}<div class="alert alert-danger">{{ form.comment.errors }}</div>{%endif%}
              {{ form.comment }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success">Spara</button>
              <button id="delete-m-button" class="btn btn-danger" data-id={{member.id}}>Radera</button>
            </div>
          </div>
        </form>

        <div class="row mt-4">
          <h2 class="col-12">Användarkonton</h2>
        </div>
        <div class="row mb-4">
          <div class="col-sm-6">
            <h3>LDAP</h3>
            {% if LDAP %}
            {% if LDAP.error %}
            Kunde inte få svar av LDAP: {{ LDAP.error }}
            {% else %}
            <b>Användarnamn:</b> {{member.username}}
            <h4>LDAP Grupper</h4>
            <ul>
              {% for group in LDAP.groups %}
              <li>{{group}}</li>
              {% endfor %}
            </ul>
            <br/>
            <button class="btn btn-primary" data-toggle="modal" data-target="#changepw_modal">Ändra lösenord</button>
            {% include "modals/changeldappw.html" with modalname="changepw_modal" title="Ändra LDAP lösenord" member_id=member.id only %}
            <button id="delete-ldap-button" class="btn btn-danger" data-id="{{ member.id }}">Ta bort LDAP konto</button>
            {% endif %}
            {% else %}
            <button class="btn btn-primary" data-toggle="modal" data-target="#addldap_modal">Skapa LDAP konto</button>
            {% include "modals/addldap.html" with modalname="addldap_modal" title="Skapa LDAP konto" member_id=member.id only %}
            {% endif %}
          </div>
          <div class="col-sm-6">
            <h3>BILL</h3>
            {% if BILL %}
            {% if BILL.error %}
            <div class="alert alert-danger">Kunde inte få svar av BILL: {{ BILL.error }}</div>
            {% else %}
            <b>BILL kod:</b> {{ BILL.acc }}
            <br>
            <b>BILL saldo:</b> {{ BILL.balance }}€
            <br>
            <br>
            <button id="delete-bill-button" class="btn btn-danger" data-id="{{ member.id }}">Ta bort BILL konto</button>
            {% endif %}
            {% else %}

            <button id="add-bill-button" class="btn btn-primary" {% if not LDAP %} disabled title="Skapa LDAP konto först"{% endif %} data-id="{{ member.id }}">Skapa BILL konto</button>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Right Column -->

      <div class="col-lg-4">
        <ul class="list-inline mt-4 mb-0">
          <li class="list-inline-item"><h3>Hedersbetygelser</h3></li>
          <li class="list-inline-item float-right">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#add-do-modal">Lägg till ny</button>
            {% include "modals/memberdecoration.html" with modalname="add-do-modal" title="Lägg till hedersbetygelse" form=add_do_form only %}
          </li>
        </ul>
        <table class="table table-sm table-striped table-borderless">
          <thead><tr>
              <th></th>
              <th>Betygelse</th>
              <th>Datum</th>
            </tr></thead>
            {% for do in decoration_ownerships %}
            <tr>
              <td><i class="fas fa-times delete-do-button text-danger" role="button" data-id="{{ do.id }}"></i></td>
              <td><a href="{% url 'admin:decoration' do.decoration.id %}">{{ do.decoration.name }}</a></td>
              <td>{{ do.acquired }}</td>
            </tr>
            {% endfor %}
        </table>

        <ul class="list-inline mt-4 mb-0">
          <li class="list-inline-item"><h3>Poster</h3></li>
          <li class="list-inline-item float-right">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#add-f-modal">Lägg till ny</button>
            {% include "modals/memberfunctionary.html" with modalname="add-f-modal" title="Lägg till funktionärspost" form=add_f_form only %}
          </li>
        </ul>
        <table class="table table-sm table-striped table-borderless">
          <thead><tr>
              <th></th>
              <th>Post</th>
              <th>Från</th>
              <th>Till</th>
            </tr></thead>
            {% for f in functionaries %}
              <tr>
                <td><i class="fas fa-times delete-f-button text-danger" role="button" data-id="{{ f.id }}"></i></td>
                <td><a href="{% url 'admin:functionary_type' f.functionary_type_id %}">{{ f.functionarytype.name }}</a></td>
                <td>{{ f.begin_date }}</td>
                <td>{{ f.end_date }}</td>
              </tr>
            {% endfor %}
        </table>

        <ul class="list-inline mt-4 mb-0">
          <li class="list-inline-item"><h3>Grupper</h3></li>
          <li class="list-inline-item float-right">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#add-gm-modal">Lägg till ny</button>
            {% include "modals/membergroup.html" with modalname="add-gm-modal" title="Lägg till gruppmedlemskap" form=add_gm_form only %}
          </li>
        </ul>
        <table class="table table-sm table-striped table-borderless">
          <thead><tr>
              <th></th>
              <th>Grupp</th>
              <th>Från</th>
              <th>Till</th>
            </tr></thead>
            {% for gm in group_memberships %}
            <tr>
              <td><i class="fas fa-times delete-gm-button text-danger" role="button" data-id="{{ gm.id }}"></i></td>
              <td><a href="{% url 'admin:group' gm.group.grouptype.id gm.group.id %}">{{ gm.group.grouptype.name }}</a></td>
              <td>{{ gm.group.begin_date }}</td>
              <td>{{ gm.group.end_date }}</td>
            </tr>
            {% endfor %}
        </table>

        <ul class="list-inline mt-4 mb-0">
          <li class="list-inline-item"><h3>Medlemstyper</h3></li>
          <li class="list-inline-item float-right">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addMemberType">Lägg till ny</button>
            {% include "modals/membertype.html" with modalname="addMemberType" title="Lägg till medlemstyp" form=add_mt_form only %}
          </li>
        </ul>
        <table class="table table-sm table-striped table-borderless">
          <thead><tr>
              <th></th>
              <th>Typ</th>
              <th>Från</th>
              <th>Till</th>
            </tr></thead>
            {% for type in membertypes %}
            <tr>
              <td>
                <i class="far fa-edit text-info edit-mt-button" role="button" data-id="{{ type.id }}"></i>
                <i class="fas fa-times delete-mt-button text-danger" role="button" data-id="{{ type.id }}"></i>
              </td>
              <td>
                {{type.get_type_display}}
              </td>
              <td>
                {{type.begin_date}}
              </td>
              <td>
                {{type.end_date}}
              </td></tr>
              {% endfor %}
        </table>
        {% include "modals/modal.html" with modalname="edit-mt-modal" title="Editera medlemstyp" only %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static "js/member.js" %}"></script>
  <script src="{% static "js/ldap.js" %}"></script>
{% endblock %}
