<ul class="nav nav-pills nav-fill side-item">
  <li class="nav-item"><a class="nav-link {% if side.active == "members" %}active{% endif %}" href="/admin/members/">Medlemmar</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "groups" %}active{% endif %}" href="/admin/groups/">Grupper</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "functionaries" %}active{% endif %}" href="/admin/functionaries/">Poster</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "decorations" %}active{% endif %}" href="/admin/decorations/">Betygelser</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "applicants" %}active{% endif %}" href="/admin/applicants/">Ansökande</a></li>
</ul>

<ul class="list-inline side-item">
  {% if side.new_button %}
    <li class="list-inline-item">
      <button id="side-new" class="btn btn-success" data-toggle="modal" data-target="#new-mgtftd-modal">Ny {{ side.sname }}</button>
    </li>
  {% endif %}

  {% if side.applicant_tool_icons %}
    <li class="list-inline-item">
      <button class="btn" data-toggle="modal" data-target="#add-multiple-applicants-modal" data-toggle="tooltip" title="Acceptera flera ansökningar">
        <i class="fas fa-users text-info icon-20"></i>
      </button>
    </li>
    <li class="list-inline-item">
      <button class="btn" data-toggle="tooltip" title="Ladda ner modersmålet för alla nuvarande ansökningar.">
        <a href="{% url 'api.views.applicantLanguages' %}">
          <i class="fas fa-download text-info icon-20"></i>
        </a>
      </button>
    </li>
  {% endif %}
</ul>

<div class="side-item">
  <input id="side-search" type="text" class="form-control" placeholder="Sök..." data-active="{{side.active}}">
</div>

<div id="side-objects" class="list-group">
  {% for obj in side.objects %}
    <a class="side-object list-group-item{% ifequal obj.id side.active_obj %} active {% endifequal %}" href="/admin/{{side.active}}/{{obj.id}}/">{{obj.name|default:"Namnlös"}}</a>
  {% empty %}
    <span class="text-muted">Skriv i sökfältet för att visa medlemmar</span>
  {% endfor %}
</div>
