<ul class="nav nav-pills nav-fill">
  <li class="nav-item"><a class="nav-link {% if side.active == "members" %}active{% endif %}" href="/admin/members/">Medlemmar</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "groups" %}active{% endif %}" href="/admin/groups/">Grupper</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "functionaries" %}active{% endif %}" href="/admin/functionaries/">Poster</a></li>
  <li class="nav-item"><a class="nav-link {% if side.active == "decorations" %}active{% endif %}" href="/admin/decorations/">Betygelser</a></li>
</ul>
<br>
<div class="d-flex align-items-center">
  <input id="side-search" type="text" class="form-control col-11" placeholder="Sök..." data-active="{{side.active}}">
  <span data-toggle="tooltip" title="Lägg till en {{ side.sname }}">
    <i class="fas fa-plus text-success icon-20 col-1" role="button" data-toggle="modal" data-target="#newModal"></i>
  </span>
</div>
<br>
<div id="side-objects" class="list-group">
  {% for obj in side.objects %}
    <a class="side-object list-group-item{% ifequal obj.id side.active_obj %} active {% endifequal %}" href="/admin/{{side.active}}/{{obj.id}}/">{{obj.name|default:"Namnlös"}}</a>
  {% empty %}
    <span class="text-muted">Skriv i sökfältet för att visa medlemmar</span>
  {% endfor %}
</div>
