.navbar {
    margin-bottom: 20px;
}

.searchbar {
    padding: 20px;
    padding-top: 0px;
}

.alphabet {
    padding: 20px;
    padding-top: 0px;
    font-size: 130%;
}

.admin-link {
    color: black;
}

.order-by {
    cursor: pointer;
}
