body {
    padding-top: 70px;
}

.searchbar {
    padding: 20px 15px;
    text-align: center;
}

.alphabet {
    padding: 20px 15px;
    text-align: center;
    font-size: 22px;
}

.home-info {
  text-align: center;
}