<form id="{{ form_id }}" autocomplete="off" data-id="{{ group_id }}">
  {% csrf_token %}

  {% if show_grouptype %}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.grouptype.id_for_label }}">Grupp</label>
    </div>
    <div class="col-9">
      {{ form.grouptype }}
    </div>
  </div>
  {% else %}
  {{ form.grouptype.as_hidden }}
  {% endif %}

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.begin_date.id_for_label }}">Från</label>
    </div>
    <div class="col-9">
      {{ form.begin_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.end_date.id_for_label }}">Till</label>
    </div>
    <div class="col-9">
      {{ form.end_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
</form>
