/*
 * Base structure
 */
a {
  color: #337ab7;
}
.list-group-item.active, .nav-link.active {
  background-color: #337ab7 !important;
}

/*
 * Global add-ons
 */

.page-header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    top: 0px;
    height: 70%;
    border-bottom: 3px solid #337ab7;
  }
}

.sidebar .nav-item, #side-search {
  width: 100%;
}

.side-item {
  margin-bottom: 5px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
.main {
  padding-right: 40px;
  padding-left: 40px;
}

.main .page-header {
  margin-top: 0;
}

/* ajax-select:s bootstrap-select module */
ul.ui-autocomplete {
  z-index: 1100;
}

/* Overrides list-group-item from Bootstrap */
.list-group-item {
  padding: 3px 10px
}

i.far:hover, i.fas:hover {
  cursor: pointer;
}
i.icon-20 {
  font-size: 20px;
}

thead.no-border th {
  border: 0;
}

.negative-link {
  color: grey;
}
.negative-link:hover {
  text-decoration: none;
  color: grey;
  background-color: rgb(242, 242, 242);
}
