/* Override Bootstrap's default font to TFs widely used: Montserrat */

* {
    font-family: 'Montserrat', sans-serif;
}

/* Taken from:
 *   https://stackoverflow.com/questions/23141854/adding-asterisk-to-required-fields-in-bootstrap-3 
 */
.form-group.required label:after {
   content:"*";
   color:red;
}

.form-check.required label:before {
   content:"*";
   color:red;
}
